nav{
    color: white;
}

.navbar.nav-fix{
    z-index: 991;
    background: #0a2640 !important;
}

.navbar.fixed{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navbar .navbar-nav .nav-link{
    font-family: 'op';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 1.5rem;
}

.navbar .navbar-nav .sign-in{
    border: 1px solid #fff;
    background: #fff;
    color: #0a2640;
    padding: 3px 30px;
    border-radius: 50px;
}

.navbar .navbar-nav .sign-up{
    border: 1px solid #ffff;
    background: inherit;
    padding: 3px 30px;
    border-radius: 50px;
}

.masthead{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 20rem;
    padding: 5rem 0 10rem 0;
    background: #0a2640;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.masthead .about{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: #f1f1f1;
}

.masthead .explanation{
    max-width: 45rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    text-align: center;
    color: #f1f1f1;
}

.masthead .h2{
    max-width: 50rem;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;
    display: flex;
    color: #fff;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.our-story{
    padding: 45px;
}

.our-story .story{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #777;
}

.our-story .story-header{
    max-width: 45rem;
    font-style: normal;
    font-weight: 37px;
    font-size: 37px;
    line-height: 50px;
    display: flex;
    align-items: center;
    color: #000;
}

.our-story .story-para{
    max-width: 70rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #777;
}

.site-footer{
    padding: 40px;
}

.site-footer h3{
    margin-bottom: 2rem;
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000;
}

.site-footer .short.desc{
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    color: #777;
}

.site-footer ul>li{
    margin-bottom: 1.5rem;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: #777;
}

.site-footer ul>li .footer-link span{
    background: #65e4a3;
    border-radius: 120px;
    padding: 1px 14px;
    gap: 10px;
    color: #0a2640;
    font-weight: 700;
    text-decoration: none;
}

.site-footer ul>li .footer-link {
    border-radius: 120px;
    padding: 1px 14px;
    gap: 10px;
    color: #0a2640;
    font-weight: 700;
    text-decoration: none;
}

.rights{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #777777;
}